In [1]:
import pandas as pd

In [142]:
# April2019 = 'April2019.csv'
# dfApril2019 = pd.read_csv(April)
# # dfApril.head()
# dfApril2019.shape

In [143]:
# dfApril2019.drop(dfApril2019[dfApril2019['tripduration'] >= 30000].index, inplace = True)
# dfApril2019.shape

In [144]:
# May2019 = 'May2019.csv'
# dfMay2019 = pd.read_csv(May2019)
# # dfMay2019.head()
# dfMay2019.shape

In [145]:
# dfMay.drop(dfMay[dfMay['tripduration'] >= 30000].index, inplace = True)
# dfMay.shape

In [6]:
# June2019 = 'June2019.csv'
# dfJune2019 = pd.read_csv(June2019)
# # dfJune2019.head()
# dfJune2019.shape

(2125370, 16)

In [7]:
# dfJune2019.drop(dfJune2019[dfJune2019['tripduration'] >= 30000].index, inplace = True)
# dfJune2019.shape

(2123753, 16)

In [8]:
# July2019 = 'July2019.csv'
# dfJuly2019 = pd.read_csv(July2019)
# # dfJuly2019.head()
# dfJuly2019.shape

(2181064, 16)

In [9]:
# dfJuly2019.drop(dfJuly2019[dfJuly2019['tripduration'] >= 30000].index, inplace = True)
# dfJuly2019.shape

(2179552, 16)

In [10]:
# Aug2019 = 'Aug2019.csv'
# dfAug2019 = pd.read_csv(Aug2019)
# dfAug2019.shape

(2344224, 16)

In [11]:
dfAug2019.drop(dfAug2019[dfAug2019['tripduration'] >= 30000].index, inplace = True)
dfAug2019.shape

(2342790, 16)

In [12]:
Sept2019 = 'Sept2019.csv'
dfSept2019 = pd.read_csv(Sept2019)
# dfSept2019.head()
dfSept2019.shape

(2444900, 16)

In [13]:
dfSept2019.drop(dfSept2019[dfSept2019['tripduration'] >= 30000].index, inplace = True)
dfSept2019.shape

(2443474, 16)

In [14]:
April2018 = 'April2018.csv'
dfApril2018 = pd.read_csv(April2018)
dfApril2018.drop(dfApril2018[dfApril2018['tripduration'] >= 30000].index, inplace = True)

In [15]:
May2018 = 'May2018.csv'
dfMay2018 = pd.read_csv(May2018)
dfMay2018.drop(dfMay2018[dfMay2018['tripduration'] >= 30000].index, inplace = True)

In [16]:
June2018 = 'June2018.csv'
dfJune2018 = pd.read_csv(June2018)
dfJune2018.drop(dfJune2018[dfJune2018['tripduration'] >= 30000].index, inplace = True)

In [17]:
July2018 = 'July2018.csv'
dfJuly2018 = pd.read_csv(July2018)
dfJuly2018.drop(dfJuly2018[dfJuly2018['tripduration'] >= 30000].index, inplace = True)

In [ ]:
April2018Clean = 'April2018Clean.csv'
dfApril2018Clean = pd.read_csv(April2018Clean)
list(dfApril2018Clean.columns)

In [18]:
Aug2018 = 'Aug2018.csv'
dfAug2018 = pd.read_csv(Aug2018)
dfAug2018.drop(dfAug2018[dfAug2018['tripduration'] >= 30000].index, inplace = True)

In [20]:
Sept2018 = 'Sept2018.csv'
dfSept2018 = pd.read_csv(Sept2018)
dfSept2018.drop(dfSept2018[dfSept2018['tripduration'] >= 30000].index, inplace = True)

April 2018

In [34]:
dfApril2018 = pd.read_csv(r'April2018.csv').assign(Month='April')
dfApril2018.to_csv('April2018Clean.csv', index=False)

In [35]:
April2018Clean = 'April2018Clean.csv'
dfApril2018Clean = pd.read_csv(April2018Clean)
# list(dfApril2018Clean.columns)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'Month']

In [99]:
dfApril2018Clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,88,2019-04-01 00:00:14.7410,2019-04-01 00:01:42.8900,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,1,April
1,443,2019-04-01 00:00:20.8270,2019-04-01 00:07:44.2920,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,1,April
2,662,2019-04-01 00:00:30.9960,2019-04-01 00:11:33.2610,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,1,April
3,86,2019-04-01 00:00:30.9110,2019-04-01 00:01:56.9600,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,1,April
4,136,2019-04-01 00:00:32.5930,2019-04-01 00:02:49.3910,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,1,April

In [97]:
# list(dfApril2018.columns)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'Month']

May 2018

In [40]:
dfMay2018 = pd.read_csv(r'May2018.csv').assign(Month='May')
dfMay2018.to_csv('May2018Clean.csv', index=False)

In [48]:
# list(dfMay2018Clean.columns)

In [42]:
May2018Clean = 'May2018Clean.csv'
dfMay2018Clean = pd.read_csv(May2018Clean)

In [98]:
dfMay2018Clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,367,2018-05-01 05:06:16.5840,2018-05-01 05:12:23.9650,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,30567,Subscriber,1965,1,May
1,1313,2018-05-01 06:25:49.4250,2018-05-01 06:47:42.7120,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,18965,Subscriber,1956,1,May
2,1798,2018-05-01 06:40:26.4450,2018-05-01 07:10:25.1790,72,W 52 St & 11 Ave,40.767272,-73.993929,3435,Grand St & Elizabeth St,40.718822,-73.995960,30241,Subscriber,1959,2,May
3,518,2018-05-01 07:06:02.9730,2018-05-01 07:14:41.0040,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,28985,Subscriber,1986,1,May
4,109,2018-05-01 07:26:32.3450,2018-05-01 07:28:21.5420,72,W 52 St & 11 Ave,40.767272,-73.993929,530,11 Ave & W 59 St,40.771522,-73.990541,14556,Subscriber,1991,1,May

June 2018

In [49]:
dfJune2018 = pd.read_csv(r'June2018.csv').assign(Month='June')
dfJune2018.to_csv('June2018Clean.csv', index=False)

In [52]:
# list(dfJune2018.columns)

In [53]:
June2018Clean = 'June2018Clean.csv'
dfJune2018Clean = pd.read_csv(June2018Clean)

In [100]:
dfJune2018Clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,569,2018-06-01 01:57:20.5140,2018-06-01 02:06:50.0880,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,21481,Subscriber,1999,1,June
1,480,2018-06-01 02:02:42.3980,2018-06-01 02:10:43.3540,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,19123,Subscriber,1988,1,June
2,692,2018-06-01 02:04:23.6240,2018-06-01 02:15:55.7470,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26983,Subscriber,1986,1,June
3,664,2018-06-01 03:00:55.4610,2018-06-01 03:11:59.9060,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,26742,Subscriber,1973,1,June
4,818,2018-06-01 06:04:54.4270,2018-06-01 06:18:32.6170,72,W 52 St & 11 Ave,40.767272,-73.993929,459,W 20 St & 11 Ave,40.746745,-74.007756,26386,Subscriber,1984,1,June

July 2018

In [56]:
dfJuly2018 = pd.read_csv(r'July2018.csv').assign(Month='July')
dfJuly2018.to_csv('July2018Clean.csv', index=False)

In [59]:
# list(dfJuly2018.columns)

In [60]:
July2018Clean = 'July2018Clean.csv'
dfJuly2018Clean = pd.read_csv(July2018Clean)

In [101]:
dfJuly2018Clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72,W 52 St & 11 Ave,40.767272,-73.993929,3236,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1,July
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72,W 52 St & 11 Ave,40.767272,-73.993929,529,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1,July
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,453,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2,July
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72,W 52 St & 11 Ave,40.767272,-73.993929,465,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1,July
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72,W 52 St & 11 Ave,40.767272,-73.993929,3425,2 Ave & E 104 St,40.789211,-73.943708,31351,Subscriber,1992,1,July

Aug2018

In [61]:
dfAug2018 = pd.read_csv(r'Aug2018.csv').assign(Month='Aug')
dfAug2018.to_csv('Aug2018Clean.csv', index=False)

In [64]:
# list(dfAug2018.columns)

In [65]:
Aug2018Clean = 'Aug2018Clean.csv'
dfAug2018Clean = pd.read_csv(Aug2018Clean)

In [67]:
# list(dfAug2018Clean.columns)

In [102]:
dfAug2018Clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1,Aug
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1,Aug
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1,Aug
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1,Aug
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1,Aug

Sept 2018

In [68]:
dfSept2018 = pd.read_csv(r'Sept2018.csv').assign(Month='Sept')
dfSept2018.to_csv('Sept2018Clean.csv', index=False)

In [69]:
Sept2018Clean = 'Sept2018Clean.csv'
dfSept2018Clean = pd.read_csv(Sept2018Clean)

In [103]:
# list(dfSept2018Clean.columns)
dfSept2018Clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
0,1635,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,Sept
1,132,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,Sept
2,3337,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,Sept
3,436,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,Sept
4,8457,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,Sept

April 2019

In [146]:
# dfApril2019 = pd.read_csv(r'April2019.csv').assign(Month='April')
# dfApril2019.to_csv('April2019Clean.csv', index=False)

In [147]:
# April2019Clean = 'April2019Clean.csv'
# dfApril2019Clean = pd.read_csv(April2019Clean)

In [148]:
# dfApril2019Clean.head()

In [149]:
# dfApril2019Clean.drop(['Unnamed:0'], axis=1)

May 2019

In [76]:
dfMay2019 = pd.read_csv(r'May2019.csv').assign(Month='May')
dfMay2019.to_csv('May2019Clean.csv', index=False)

In [77]:
May2019Clean = 'May2019Clean.csv'
dfMay2019Clean = pd.read_csv(May2019Clean)

In [110]:
# list(dfMay2019Clean.columns)

June 2019

In [79]:
dfJune2019 = pd.read_csv(r'June2019.csv').assign(Month='June')
dfJune2019.to_csv('June2019Clean.csv', index=False)

In [80]:
June2019Clean = 'June2019Clean.csv'
dfJune2019Clean = pd.read_csv(June2019Clean)

In [82]:
# list(dfJune2019Clean.columns)

July 2019

In [85]:
dfJuly2019 = pd.read_csv(r'July2019.csv').assign(Month='July')
dfJuly2019.to_csv('July2019Clean.csv', index=False)

In [86]:
July2019Clean = 'July2019Clean.csv'
dfJuly2019Clean = pd.read_csv(July2019Clean)

In [88]:
# list(dfJuly2019Clean.columns)

Aug 2019

In [89]:
dfAug2019 = pd.read_csv(r'Aug2019.csv').assign(Month='Aug')
dfAug2019.to_csv('Aug2019Clean.csv', index=False)

In [90]:
Aug2019Clean = 'Aug2019Clean.csv'
dfAug2019Clean = pd.read_csv(Aug2019Clean)

In [150]:
# list(dfAug2019Clean.columns)

Sept 2019

In [92]:
dfSept2019 = pd.read_csv(r'Sept2019.csv').assign(Month='Sept')
dfSept2019.to_csv('Sept2019Clean.csv', index=False)

In [94]:
Sept2019Clean = 'Sept2019Clean.csv'
dfSept2019Clean = pd.read_csv(Sept2019Clean)

In [151]:
# list(dfSept2019Clean.columns)

In [116]:
# df2018 = pd.merge(dfApril2018Clean, dfMay2018Clean, on="end station id")
# df2018.head()

In [117]:
indexAge = dfApril2018Clean[dfApril2018Clean['birth year'] < 1920 ].index
dfApril2018Clean.drop(indexAge , inplace=True)

In [118]:
# indexAge = dfApril2018Clean[dfApril2018Clean['birth year'] < 1920 ].index
# dfApril2018Clean.drop(indexAge , inplace=True)

In [119]:
indexAgeJune2018 = dfJune2018Clean[dfJune2018Clean['birth year'] < 1920 ].index
dfJune2018Clean.drop(indexAgeJune2018, inplace=True)

In [120]:
indexAgeJuly2018 = dfJuly2018Clean[dfJuly2018Clean['birth year'] < 1920 ].index
dfJuly2018Clean.drop(indexAgeJuly2018, inplace=True)

In [121]:
indexAgeAug2018 = dfAug2018Clean[dfAug2018Clean['birth year'] < 1920 ].index
dfAug2018Clean.drop(indexAgeAug2018, inplace=True)

In [122]:
indexAgeSept2018 = dfSept2018Clean[dfSept2018Clean['birth year'] < 1920 ].index
dfSept2018Clean.drop(indexAgeSept2018, inplace=True)

In [136]:
indexAge = dfApril2018Clean[dfApril2018Clean['birth year'] < 1920 ].index
dfApril2018Clean.drop(indexAge , inplace=True)

In [137]:
indexAgeMay = dfMay2018Clean[dfMay2018Clean['birth year'] < 1920 ].index
dfMay2018Clean.drop(indexAgeMay, inplace=True)

In [138]:
indexAgeJune2019 = dfJune2019Clean[dfJune2019Clean['birth year'] < 1920 ].index
dfJune2019Clean.drop(indexAgeJune2019, inplace=True)

In [139]:
indexAgeJuly2019 = dfJuly2019Clean[dfJuly2019Clean['birth year'] < 1920 ].index
dfJuly2019Clean.drop(indexAgeJuly2019, inplace=True)

In [140]:
indexAgeAug2019 = dfAug2019Clean[dfAug2019Clean['birth year'] < 1920 ].index
dfAug2019Clean.drop(indexAgeAug2019, inplace=True)

In [141]:
indexAgeSept2019 = dfSept2019Clean[dfSept2019Clean['birth year'] < 1920 ].index
dfSept2019Clean.drop(indexAgeSept2019, inplace=True)

In [124]:
indexDurationApril2018 = dfApril2018Clean[dfApril2018Clean['tripduration'] > 35000 ].index
dfApril2018Clean.drop(indexDurationApril2018, inplace=True)

In [125]:
indexDurationMay2018 = dfMay2018Clean[dfMay2018Clean['tripduration'] > 35000 ].index
dfMay2018Clean.drop(indexDurationMay2018, inplace=True)

In [126]:
indexDurationJune2018 = dfJune2018Clean[dfJune2018Clean['tripduration'] > 35000 ].index
dfJune2018Clean.drop(indexDurationJune2018, inplace=True)

In [127]:
indexDurationJuly2018 = dfJuly2018Clean[dfJuly2018Clean['tripduration'] > 35000 ].index
dfJuly2018Clean.drop(indexDurationJuly2018, inplace=True)

In [128]:
indexDurationAug2018 = dfAug2018Clean[dfAug2018Clean['tripduration'] > 35000 ].index
dfAug2018Clean.drop(indexDurationAug2018, inplace=True)

In [129]:
indexDurationSept2018 = dfSept2018Clean[dfSept2018Clean['tripduration'] > 35000 ].index
dfSept2018Clean.drop(indexDurationSept2018, inplace=True)

In [130]:
indexDurationApril2019 = dfApril2019Clean[dfApril2019Clean['tripduration'] > 35000 ].index
dfApril2019Clean.drop(indexDurationApril2019, inplace=True)

In [131]:
indexDurationMay2019 = dfMay2019Clean[dfMay2019Clean['tripduration'] > 35000 ].index
dfMay2019Clean.drop(indexDurationMay2019, inplace=True)

In [132]:
indexDurationJune2019 = dfJune2019Clean[dfJune2019Clean['tripduration'] > 35000 ].index
dfJune2019Clean.drop(indexDurationJune2019, inplace=True)

In [133]:
indexDurationJuly2019 = dfJuly2019Clean[dfJuly2019Clean['tripduration'] > 35000 ].index
dfJuly2019Clean.drop(indexDurationJuly2019, inplace=True)

In [134]:
indexDurationAug2019 = dfAug2019Clean[dfAug2019Clean['tripduration'] > 35000 ].index
dfAug2019Clean.drop(indexDurationAug2019, inplace=True)

In [135]:
indexDurationSept2019 = dfSept2019Clean[dfSept2019Clean['tripduration'] > 35000 ].index
dfSept2019Clean.drop(indexDurationSept2019, inplace=True)

In [154]:
df2018 = pd.merge(dfApril2018Clean, dfMay2018Clean, on="end station id")
df2018.head()